<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hexaram.challengelyon" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" >
    </uses-feature>


    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.activities.AccessActivity"
            android:label="AccessActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".ui.activities.ProfileViewActivity"
            android:label="@string/title_activity_profile_view" >
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.RealisationActivity"
            android:label="@string/title_activity_realisation" >
        </activity>
        <activity
            android:name=".ui.activities.ChallengeViewActivity"
            android:label="@string/title_activity_challenge_view" >
        </activity>
        <activity
            android:name=".ui.activities.PictureValidationActivity"
            android:label="@string/title_activity_picture_validation" >
        </activity>

        <activity
            android:name=".ui.activities.LaMapActivity"
            android:label="@string/title_activity_la_map" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDYT95uE2lKZ0XFn7UkyRPSwr1qTDr0fVk" />


    </application>

</manifest>
